.social-login-button{
    font-size: 40px;
    margin: 10px;
}
.google-color{
    color: #DB4437;
}
.facebook-color{
    color: #17A9FD;
}
.google-color:hover,  .facebook-color:hover{
    color: #f8fafc;
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
    height: 25px;
    width: 25px;
}
.not-required{
    color: #6BCB77;
}
.edit-icon:hover, .delete-icon:hover{
    color: grey;
}
i{
    cursor: pointer;
}
.delete-warning{
    color: #D82148;
    font-size: 100px;
}