.social-login-button{
    font-size: xx-large;
    margin: 10px;
}
.google-color{
    color: #DB4437;
}
.facebook-color{
    color: #17A9FD;
}
.google-color:hover,  .facebook-color:hover{
    color:rgb(223, 223, 223);
}