.social-login-button {
    font-size: 40px;
    margin: 10px;
}

.google-color {
    color: #DB4437;
}

.facebook-color {
    color: #17A9FD;
}

.google-color:hover,
.facebook-color:hover {
    color: #f8fafc;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
    height: 25px;
    width: 25px;
}

.not-required {
    color: #6BCB77;
}

.edit-icon:hover,
.delete-icon:hover {
    color: grey;
}

i {
    cursor: pointer;
}

.delete-warning {
    color: #D82148;
    font-size: 100px;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 15px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1,
.navbar-brand {
    font-family: monospace;
}

.not-authorized-warning {
    color: #D82148;
    font-size: 300px;
}

.tag {
    border-radius: 5px;
    padding: 5px;
    color: #198754;
}

.tag:hover {
    color: white;
    background-color: #198754;
}

.page-item.active .page-link {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.navbar-icon {
    font-size: larger;
}

.form-check-input.user-admin {
    width: 40px !important;
}

.card {
    position: relative;
    top: 0;
    transition: all 0.4s ease;
}

.card:hover {
    top: -10px;
    cursor: pointer;
}

.page-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.comments-headline{
    border-color: #D0C9C0;
    border-style: dashed;
    border-width: 4px 4px 0px 0px;
}