.header{
    padding: 20px;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    position: sticky;
    top: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(204, 204, 204);
}
.content{
    padding: 100px; 
    text-align: center;
}
.footer{
    background-color: #1abc9c;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu li{
    float: left;
    margin: 5px;
}
.menu{
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}
.menu-list{
    list-style-type: none;
}
.menu-list a:hover {
    background-color: green;
}
.menu-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.page-container{
    position: relative;
    min-height: 100vh;
}