.header{
    background: #352a1b;
    color: white;
    font-size: 20px;
    position: sticky;
    top: 0;
}
.title a{
    text-decoration: none;
    color: white;
}
.title img{
    height: 11rem;
    width: 13,5rem;
}
.nav{
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
}
.nav li{
    float: right;
    text-align: center;
    align-items: center;    
}
.nav-button{
    border-radius: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin: 10px;
}
.nav-button:hover{
    background-color: grey;
    text-decoration: underline;
}
.nav .title{
    float: left;
    margin: 0px;
    margin-left:20px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(204, 204, 204);
}
.content{
    padding: 100px;
    text-align: center;
}
.footer{
    background-color: #352a1b;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a{
    color: white;
}
.page-container{
    position: relative;
    min-height: 100vh;
    margin: 0px;
}
.event li, .registration li, .user li{
    list-style-type: none;
    list-style-position:inside;
    width: 50%;
    display:inline-block;
    border-bottom: solid #352a1b;
    border-width: 3px;
    padding: 30px;
}
.event li:hover, .registration li:hover, .user li:hover{
    background-color: grey;
}
.event a , .registration a, .user a{
    color: black;
    text-decoration: none;
    
}
.event-show div, .registration-show div, .user-show div{
    margin: 10px;
}
.form{
    margin: 20px;
}
.form input, textarea{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
}
.button{
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
    height: 50px;
    background-color: #352a1b;
    color: aliceblue;
    font-size: large;
    border-width: 3px;
    border-color: black;
}
.button:hover{
    background-color: grey;
}
.button-row{
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.button-row li{
    display: inline-block;
    margin: 10px;    
}
.body-title{
    text-align: left;
}
label{
    font-size:large;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}